{% extends 'base.html.twig' %}
{% block body %}
{% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
   <h2 class="page-header"> Streaming and Content-Creator Gear </h2>

   <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Producer</th>
                <th>Price</th>
                <th>Beginner Friendly</th>
                <th></th>
            </tr>
        </thead>
        {% for gear in gears %}
        <tbody>
            <tr>  
                <th scope="row">{{gear.id}}</th>
                <td>{{gear.name}}</td>
                <td>{{gear.type}}</td>
                <td>{{gear.producer}}</td>
                <td>{{gear.price}}</td>
                <td>{{gear.fkBegginer}}</td>
                {# <td>
                    <a href="/details/1" class="btn btn-info">Details</a>
                    <a href="/edit/1" class="btn btn-warning">Edit</a>
                    <a href="/delete/1" class="btn btn-danger">Delete</a>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
   </table>
{% endblock %}