{% extends 'base.html.twig' %}
{% block body %}
{% for message in app.flashes('notice') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
   <h2 class="page-header"> Streaming and Content-Creator Gear </h2>

   <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Producer</th>
                <th>Price</th>
                <th>Beginner Friendly</th>
                <th><a href="/create" class="btn btn-success" btn-md>Create New</a></th>
            </tr>
        </thead>
        {% for gear in gears %}
        <tbody>
            <tr>  
                <th scope="row">{{gear.id}}</th>
                <td>{{gear.gearName}}</td>
                <td>{{gear.gearType}}</td>
                <td>{{gear.gearProducer}}</td>
                <td>{{gear.gearPrice}}</td>
                <td>{{gear.fkBeginner.friendly}}</td> {# nur fkBeginner zeigt auf objekt .friendly auf den inhalt #}
                <td>
                    <a href="/details/{{gear.id}}" class="btn btn-info">Details</a>
                    <a href="/edit/{{gear.id}}" class="btn btn-warning">Edit</a>
                    <a href="/delete/{{gear.id}}" class="btn btn-danger">Delete</a>
                </td> 
            </tr>
        {% endfor %}
        </tbody>
   </table>
{% endblock %}